html {
  overflow-y: scroll;
}

/* BASE STYLES (Global layout) */
@font-face {
  font-family: 'PressStart2P';
  src: url('/fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'poppins', sans-serif;
  background-image: url("../img/background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

main {
  padding-top: 124px;
  padding-bottom: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

/* NAVBAR STYLES (Shared across all pages) */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color:rgba(18, 18, 18, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20%;
  box-sizing: border-box;
  z-index: 1000;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  font-family: 'PressStart2P', monospace !important;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.username {
  font-size: 18px;
  color: #ccc;
  font-weight: 500;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: #cccccc;
  text-decoration: none;
  padding: 0 5px;
  font-size: 18px;
}

.nav-links a:hover {
  color: #fff;
}

/* SPINNER (Shared across all pages) */
#main-loader {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}   

.spinner {
  margin: 20px auto;
  width: 64px;
  height: 64px;
  border: 8px solid #ccc;
  border-top-color: #0078d7;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* BACK TO TOP BUTTON */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 64px;
  right: 64px;
  background-color: #0078d7;
  color: white;
  border: none;
  border-radius: 13px;
  padding: 12px 18px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  z-index: 200;
}

.back-to-top:hover {
  background-color: #005fa3;
  transform: translateY(-3px);
}